button {
  margin: 3px;
}
a {
  text-decoration: none;
  color: #ffc107;
}
.categorias {
  display: flex;
  justify-content: center;
}

.clickeado {
  color: black;
}
.noClickleado {
  color: #ffc107;
}
